@tailwind base;
@tailwind utilities;

@font-face {
  font-family: "Teko";
  src: url('/fonts/Teko-VariableFont_wght.woff2');
}


@layer base {
  html {
    font-family: "Teko", 'sans-serif';
    @apply text-zinc-700;
  }
  h2 {
    @apply text-xl;
  }
}
